@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
