:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
a:visited {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: inline-block;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(31, 193, 27) 10px -10px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 156, 85) 30px -30px,
    rgb(255, 85, 85) 40px -40px;
  padding: 1rem;
  background-color: blue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8rem 2.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: 700;
}
button:hover {
  border-color: #646cff;
}
button:disabled {
  border-color: transparent;
  cursor: default;
}

/* small screen */
@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  button {
    padding: 0.8rem 0.8rem;
  }

  .color {
    max-height: 200px;
  }

  .guess {
    display: none;
    /* justify-content: space-between;
    align-items: center; */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.color {
  height: 400px;
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.guess {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  margin: 2rem auto;
}

.status {
  font-weight: bold;
  margin-top: 3rem;
}
